<div class="container">
	<p>
	  <strong>User Name:</strong>
	  <%= @user.last_name %>
	</p>
	<p>
		<div class="image-size">
		  <%= image_tag(@user.picture) if @user.picture.attached? %>
		</div>
	</p>
</div>

<style type="text/css">
	img{
		height: 300px;
    width: 300px;
	}
</style>
